<div class="menu-page">
  <div class="profil">
    <img [src]="'data:image/PNG;base64,' + photo" alt="img" style="width: 50px; height:50px; border-radius:50%; object-fit: contain;" *ngIf="photo"/>
    <div class="name-label">{{name}}</div>
    <div class="role">{{ role }}</div>
    <div class="button primary2" (click)="editprofil()">Edit Profil</div>
  </div>

  <div class="menu">
    <div class="content">
      <div *ngFor="let section of getFilteredSections()">
        <div class="section">
          <div class="type">{{ section.section }}</div>
          <div *ngFor="let item of section.items" class="option" [routerLink]="[item.route]">
            <i class="fa" [ngClass]="item.icon"></i>
            <label>{{ item.label }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
