$principal-color-1: #14279B;
$principal-color-2: #3D56B2;
$principal-color-3: #5C7AEA;
$principal-color-4: #3498db;
$principal-color-5: #A5D7E8;
$principal-color-6: #E8EEF4;
$secondary-color-1: #787A91;
$secondary-color-2: #C9C9C9;
$third-color-1: #FFFFFF;
$background-color-1: #E6E6E6;
$background-color-2: #F7F7F7;
$text-size: 13px;
$text-size-2:18px;
$text-size-3: 16px;
$text-title-size:24px;
$text-weight-semiBold:600;
$text-color-content: #4D4D4D;
$text-color-smooth: #787A91;
$text-color-blue: #5DA7DB;
$text-color-grey: #82949E;
$border-radius-mini: 1rem;
$min-margin-top: 1rem;
$margin-top: 2.5rem;
$box-shadow-1: 0 4px 6px rgba(0, 0, 0, 0.12);
