div.license {
  height: 100%;

  div.content {
    display: flex;
    // grid-template-columns: 21% 76.5%;
    height: 100%;
    gap: 1rem;
    margin: auto;

    div.component {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 77.5%;
    }
  }
}
