<div class="user-content">
  <div class="list">
    <nz-tabset>
      <nz-tab nzTitle="List of Software">
        <nz-card>
          <div>
            <!-- Input de recherche -->
            <div style="display:flex; gap:1rem; align-items:center; margin-bottom:1rem">
              <div class="input-search">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input type="text" nz-input placeholder="Search..." value="keyword" [(ngModel)]="keyword"/>
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <span nz-icon nzType="search" nzTheme="outline"></span>
                </ng-template>
              </div>
              <div class="button primary4" style="margin:0!important" (click)="onSearchData()">
                Search
              </div>
            </div>

            <nz-spin nzTip="Loading..." *ngIf="!datas" style="height: 12vh">
            </nz-spin>

            <!-- Tableau des utilisateurs -->
            <nz-table
              #basicTable
              [nzData]="datas"
              [nzShowPagination]="false"
              *ngIf="datas"
            >
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data">
                  <td>
                    <img
                      [src]="'data:image/PNG;base64,' + data.photo"
                      alt="img"
                      style="width: 50px; height: 50px; border-radius: 50%"
                    />
                  </td>
                  <td>
                    {{ data.name }}
                  </td>
                  <td>
                    <a
                      ><span
                        nz-icon
                        nzType="edit"
                        nzTheme="outline"
                        style="color: blue"
                        (click)="actionUpdate(data)"
                      ></span
                    ></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure?"
                      nzOkText="ok"
                      nzCancelText="cancel"
                      (nzOnConfirm)="confirm(data.id)"
                      ><span
                        nz-icon
                        nzType="delete"
                        nzTheme="outline"
                        style="color: red"
                      ></span
                    ></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a
                      ><span
                        nz-icon
                        nzType="eye"
                        nzTheme="outline"
                        (click)="listModule(data)"
                      ></span
                    ></a>
                  </td>
                </tr>
              </tbody>
            </nz-table>

            <!-- Pagination -->
            <nz-pagination
              class="ant-pagination-center"
              [nzPageIndex]="currentPage + 1"
              [nzTotal]="totalPages * pageSize"
              [nzPageSize]="pageSize"
              [nzShowSizeChanger]="true"
              [nzPageSizeOptions]="[5, 10, 20]"
              (nzPageIndexChange)="fetchData($event - 1, pageSize)"
              (nzPageSizeChange)="fetchData(currentPage, $event)"
            >
            </nz-pagination>
          </div>
        </nz-card>
      </nz-tab>
    </nz-tabset>
  </div>

  <div class="butt-popup bottom" (click)="togglePopupAdd()">
    <button nz-button nzType="primary" [nzSize]="size" nzShape="circle">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </div>
  <div *ngIf="isPopupVisible" class="popup-form">
    <div class="content-popup">
      <div class="title" style="width: 100%; display: flex">
        <span>NEW SOFTWARE</span>
        <span
          nz-icon
          nzType="close-circle"
          nzTheme="outline"
          style="
            margin-left: auto;
            cursor: pointer;
            font-size: 22px;
            color: red;
          "
          (click)="togglePopup()"
        ></span>
      </div>
      <div>
        <div class="one-input">
          <label for="fileInput" class="custom-file-label"
            ><img
              src="assets/image.png"
              alt="img"
              style="width: 4rem; height: 4rem"
          /></label>
          <input
            type="file"
            id="fileInput"
            (change)="onFileSelected($event)"
            hidden
            required
          />
          <span>{{ fileName }}</span>
        </div>
        <div class="one-input">
          <label>Name</label>
          <input
            nz-input
            placeholder="Enter a name"
            [(ngModel)]="name"
            type="text"
            value="name"
          />
        </div>
        <div class="actions">
          <div href="" class="cancel-link" (click)="togglePopup()">Cancel</div>
          <div class="button primary1 left" (click)="sendValues($event)">
            {{ sendButton }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
